.container{
    margin: 100px 500px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid black;
}

.show_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.form-select{
    margin-top: 10px;
    width: 300px;
}

.showpass_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 60px;
    border: 1px solid red;
}

.form-container{
    margin-top: 10px;
    margin-right: 90px;
}

.button_container{
    margin-top: 10px;
    margin-bottom: 10px;
}